*{
    background: #C7EAE4;
    text-align: center;
}
.msg-Container{
    height: 30vmin;
}
#msg{
    font-size: 5vmin;
    color: rgb(15, 219, 32);
}
#newGame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #06391d;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    color: white;
    border: 2px black solid;
    border-radius: 8px;
}
.hide{
    display: none;
}
h1{
    text-align: center;
    font-size: 3rem;
}
.main{
    width: 900px;
    height: 70vh;
    align-items: center;
    display: flex;
}
.row{
    width: 60vmin;
    height: 60vmin;
    gap: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.button{
    width: 18vmin;
    height: 18vmin;
    border-radius: 8px;
    box-shadow: 3px 2px #353531;
    cursor: pointer;
    background-color: #F8F1FF;
    font-size: 8vmin;
    color: red;
    text-align: center;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #06391d;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    color: white;
    border: 2px black solid;
    border-radius: 8px;

}












